[Unit]
Description=Timelapse-Webservice
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/timelapse
ExecStart=/usr/bin/authbind --deep /usr/bin/python3 /home/pi/timelapse/app.py
Restart=always

[Install]
WantedBy=multi-user.target
